<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="mex_Behaviour">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>

      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="web_behavior">
          <webHttp helpEnabled="true" defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json" automaticFormatSelectionEnabled="false"/>
        </behavior>
      </endpointBehaviors>

    </behaviors>

    <services>
      <service name="WCF_test.TestService" behaviorConfiguration="mex_Behaviour">

        <!--Http-->
        <endpoint address="http://localhost:8736/TestService/" binding="webHttpBinding" contract="WCF_test.ITestService" behaviorConfiguration="web_behavior"/>
        <endpoint address="http://localhost:8735/TestService/" binding="basicHttpBinding" contract="WCF_test.ITestService"/>
        <!--TCP-->
        <endpoint address="" binding="netTcpBinding" contract="WCF_test.ITestService"  />
        <!--Meta Data-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />

        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/TestService/"/>
            <add baseAddress="net.tcp://localhost:8734/TestService/" />
          </baseAddresses>
        </host>

      </service>
    </services>
  </system.serviceModel>
</configuration>
