<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITestService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ITestService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8735/TestService/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITestService" contract="TestWCF.ITestService"
                name="BasicHttpBinding_ITestService" />
            <endpoint address="net.tcp://localhost:8734/TestService/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ITestService" contract="TestWCF.ITestService"
                name="NetTcpBinding_ITestService">
                <identity>
                    <userPrincipalName value="SHuang@corp.globetax.com" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>